.create-order-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-direction: column;
  }
  .input-container p{
    /* display: flex;
    justify-content: flex-start; */
    /* margin: 0; */
   color: rgb(82, 75, 75);
     font-weight: 400; 
     font-size: 14px;
     font-style: italic;
  }
  .create-order-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-container {
    margin-bottom: 10px;
  }
  
  .input-container input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    /* border-radius: 5px; */
  }
  
  .create-order-button {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    background-color: #674391;
    color: #fff;
    border: none;
    /* border-radius: 5px; */
    cursor: pointer;
  }
  .success-message{
    color:red;
    font-size: large;
  }
  .error-message{
    color: red;
  }

  

  /* .order-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    width: 550px;
    padding: 10px;
    margin:auto;
    border: 1px solid #ccc;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .order-container h4 {
    font-size: 16px;
    color: rgb(56, 53, 53);
    margin-bottom: 10px;
    font-style: italic;

  }
  .order-container li {
    margin-bottom: 10px;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center;
  }
  
  .order-container img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
  .order-container ul {
    list-style-type: none;
    padding: 0;
  } */
  

  /* .order-container  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  } */
/*   
  .order-container p {
    margin: 0;
    color: rgb(82, 75, 75);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .order-container .total-price {
    font-weight: bold;
    margin-top: 10px;
  } */ 
  /* .order-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    width: 550px;
    padding: 10px;
    margin: auto;
    border: 1px solid #ccc;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .order-container h4 {
    font-size: 16px;
    color: rgb(56, 53, 53);
    margin-bottom: 10px;
    font-style: italic;
  }
  
    .order-container li {
      display: flex;
      align-items: flex-start;
      margin-bottom: 10px;
    }
    
    .order-container img {
      width: 80px;
      height: 80px;
      margin-right: 10px;
    }
  
  .order-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .order-container p {
    margin: 0;
    color: rgb(82, 75, 75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .order-container .total-price {
    font-weight: bold;
    margin-top: 10px;
  } */
  .order-container {
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: column;
    margin-top: 20px;
    width: 600px;
    padding: 10px;
    margin: auto;
    border: 1px solid #ccc;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .order-container h4 {
    font-size: 17px;
    color: rgb(54, 51, 51);
    margin-bottom: 10px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 2px;
  }
.total-price{
  font-size: 16px;
  color: rgb(54, 51, 51);
  font-style: italic;
  font-weight: 400;
}
  .order-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .product-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .image-container {
    margin-right: 20px;
  }
  
  .image-container img {
    width: 80px;
    height: 80px;
    margin-left: 20px;
  }
  
  .product-info p {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    color: rgb(82, 75, 75);
    font-weight: 400;
  }
  .order-container .total-price {
    font-weight: bold;
    margin-top: 10px;
    margin-right: 30px;
    color: rgb(82, 75, 75);
    font-weight: 400;

  } 