.auth-registration-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .registration-form-container,
  .login-form-container {
    width: 500px;
    padding: 20px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    margin: 20px;
    background-color: #f5f5f5;
  }
  
  .registration-form-container {
    order: 2;
  }
  
  .login-form-container {
    order: 1;
  }
  
  .auth-registration-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .auth-registration-form p {
    color: red;
    margin-bottom: 10px;
  }
  
  .auth-registration-form form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .auth-registration-form form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .auth-registration-form form button {
    width: 100%;
    padding: 8px;
    background-color: rgb(74,116,76);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .auth-registration-form form button:hover {
    background-color: #45a049;
  }